/* ExhibitionsScreen.css */

/* Estilo general para la pantalla */
.exhibitions-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background-color: #f0f2f5;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

/* Título principal */
.exhibitions-title {
  text-align: center;
  font-size: 24px;
  color: #1890ff; /* Color de título más uniforme */
  margin-bottom: 20px;
}

/* Select de categoría */
.category-select {
  width: 100%;
  margin-bottom: 20px;
}

/* Botón para crear una nueva exhibición */
.add-exhibition-button {
  width: 100%;
  margin-bottom: 20px;
  background-color: #52c41a;
  border-color: #52c41a;
}

/* Estilo para el modal */
.exhibition-modal {
  top: 20px;
}

/* Contenido del formulario */
.ant-form-item {
  margin-bottom: 15px !important;
}

.ant-input {
  border-radius: 5px;
}

/* Estilos de la tabla */
.exhibition-table {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.bold-text {
  font-weight: bold;
}

.ant-table-thead > tr > th {
  background-color: #fafafa;
  font-weight: 600;
  color: #595959;
}

/* Estado */
.exhibition-status {
  font-weight: 500;
}

/* Hover efecto en tarjetas */
.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}
